<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#sidebarItemDashboard" data-toggle="collapse"  aria-expanded="false" aria-controls="sidebarItemDashboard">
                <i class="fa fa-dashboard"></i> Dashboard
            </a>
            <ul class="collapse rounded-0 list-unstyled bg-light text-left" id="sidebarItemDashboard">
                <a href="#" class="link-unstyled"><li class="p-2">Home</li></a>
                <a href="#" class="link-unstyled"><li class="p-2">Logs</li></a>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sidebarItemReports" data-toggle="collapse">
                <i class="fa fa-dashboard"></i> Scheduling
            </a>
            <ul class="collapse rounded-0 list-unstyled bg-light text-left" id="sidebarItemReports">
                <a href="#" class="link-unstyled"><li class="p-2">View</li></a>
            </ul>
        </li>
    </ul>
</nav>
<style>
.nav-item{
    width: 100%;
}
</style>
    <!--
    <div class="col p-0">
        <button class="btn btn-info btn-block " type="button" data-toggle="collapse" data-target="#sidebarItemDashboard" aria-expanded="false" aria-controls="sidebarItemDashboard">
            Dashboard
        </button>
        <div class="collapse" id="sidebarItemDashboard">
            <button class="btn btn-light btn-block m-0">Test1</button>
            <button class="btn btn-light btn-block m-0">Test1</button>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="col p-0">
        <button class="btn btn-info btn-block " type="button" data-toggle="collapse" data-target="#sidebarItemReports" aria-expanded="false" aria-controls="sidebarItemReports">
            Reports
        </button>
        <div class="collapse" id="sidebarItemReports">
            <button class="btn btn-light btn-block m-0">Test1</button>
            <button class="btn btn-light btn-block m-0">Test1</button>
        </div>
    </div>
</div>
-->